In [212]:
# Running Several iterations to predict the most possible revenue from AdulWeekday and AdultWeekend

In [213]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing

In [214]:
Data4= pd.read_csv('Data4.csv')
pd.set_option('display.max_columns', None)
Data4.head()

,Unnamed: 0,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,Arizona,California,Colorado,Connecticut,Idaho,Illinois,Indiana,Iowa,Maine,Maryland,Massachusetts,Michigan,Minnesota,Missouri,Montana,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,Ohio,Oregon,Pennsylvania,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2,2090,294,0,0.0,0,0,0,1,0,2,3,13.0,1.0,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,4,11100,1800,0,0.0,0,1,2,3,1,0,7,65.0,2.0,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,5,7800,600,0,0.0,0,0,0,1,3,1,5,10.0,2.0,0.4,88.0,100.0,110.0,84.0,300.0,47.0,47.0,107.0,72.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,10,8012,750,0,0.0,0,0,0,1,5,2,8,52.0,2.0,1.5,505.0,60.0,163.0,82.0,400.0,75.0,75.0,170.0,72.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,12,10090,2590,0,0.0,0,2,0,0,4,1,7,41.0,2.0,2.0,1500.0,100.0,114.0,58.0,250.0,50.0,60.0,128.0,72.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [215]:
# dropping 'state' that is the state dummies
Data5 = Data4.drop(Data4.loc[:,'Arizona':], axis=1)
Data5.head()

,Unnamed: 0,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,2,2090,294,0,0.0,0,0,0,1,0,2,3,13.0,1.0,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
1,4,11100,1800,0,0.0,0,1,2,3,1,0,7,65.0,2.0,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0
2,5,7800,600,0,0.0,0,0,0,1,3,1,5,10.0,2.0,0.4,88.0,100.0,110.0,84.0,300.0,47.0,47.0,107.0,72.0
3,10,8012,750,0,0.0,0,0,0,1,5,2,8,52.0,2.0,1.5,505.0,60.0,163.0,82.0,400.0,75.0,75.0,170.0,72.0
4,12,10090,2590,0,0.0,0,2,0,0,4,1,7,41.0,2.0,2.0,1500.0,100.0,114.0,58.0,250.0,50.0,60.0,128.0,72.0

In [216]:
# making predictions dropping "state"

In [217]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(x_train,y_train)

In [218]:
x = Data5.drop('AdultWeekend', axis=1)

In [219]:
y= Data5.AdultWeekday

In [220]:
from sklearn.model_selection import train_test_split

In [221]:
x_train,x_test, y_train, y_test=train_test_split(x, y, test_size = 0.2, random_state =0)

In [222]:
x_train.shape

(114, 23)

In [223]:
from sklearn.linear_model import LinearRegression

In [224]:
lin_reg=LinearRegression()

In [225]:
model2=lin_reg.fit(x, y)
model2

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [226]:
# Getting the intercept
lin_reg.intercept_

-3.552713678800501e-14

In [227]:
y_pred = model2.predict(x_test)
y_pred

array([50., 50., 45., 34., 47., 83., 50., 50., 50., 39., 40., 56., 50.,
       42., 59., 29., 20., 81., 74., 43., 47., 50., 36., 38., 39., 42.,
       50., 50., 49.])

In [228]:
print(model2.score(x_test, y_test))

1.0

In [229]:
# Model 3 Dropping 'State', 'summit_elev','base_elev'; state dropped already in the Data5 dataframe. Base elevation already 
#dropped in the multicolinearity process

In [235]:
x_3 = Data5.drop(['AdultWeekend','summit_elev'],  axis=1)
x_3.head()

,Unnamed: 0,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,projectedDaysOpen,NightSkiing_ac
0,2,294,0,0.0,0,0,0,1,0,2,3,13.0,1.0,1.0,30.0,30.0,150.0,36.0,69.0,30.0,152.0,30.0
1,4,1800,0,0.0,0,1,2,3,1,0,7,65.0,2.0,1.2,800.0,80.0,115.0,49.0,250.0,74.0,104.0,80.0
2,5,600,0,0.0,0,0,0,1,3,1,5,10.0,2.0,0.4,88.0,100.0,110.0,84.0,300.0,47.0,107.0,72.0
3,10,750,0,0.0,0,0,0,1,5,2,8,52.0,2.0,1.5,505.0,60.0,163.0,82.0,400.0,75.0,170.0,72.0
4,12,2590,0,0.0,0,2,0,0,4,1,7,41.0,2.0,2.0,1500.0,100.0,114.0,58.0,250.0,50.0,128.0,72.0

In [242]:
y_3= Data5.AdultWeekday
y_3.head()

0    30.0
1    74.0
2    47.0
3    75.0
4    50.0
Name: AdultWeekday, dtype: float64

In [243]:
model3= lin_reg.fit(x_3,y_3)
model3

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [246]:
y_pred = model3.predict(x_test)
y_pred

ValueError: shapes (29,23) and (22,) not aligned: 23 (dim 1) != 22 (dim 0)